@charset "UTF-08";

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

/*estrutura do header*/
.cabecalho {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding: 0px;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px white solid;
}

.navegation-container {
    display: flex;
    gap: 3em;
    padding: 0px 10px;
    border-bottom: 1px white solid;
}

/*itens do header*/

.logo-container-img {
    width: 105px;
    padding-bottom: 10px;
}

.logo-container-nome {
    font-size: 3rem;
    font-weight: 600;
}

.buttom-text {
    display: flex;
}

.buttom {
    background: none;
    border: 0px;
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
}

.buttom-img {
    display: none;
}

.buttom:hover {
    transition: 0.2s;
    transform: translateY(-10px);
    color: aquamarine;
    text-shadow: 0px 0px 50px aqua;
}

@media screen and (max-width: 1000px) {
    .logo-container-img {
        width: 80px;
    }

    .logo-container-nome {
        font-size: 2rem;
        font-weight: 600;
    }

    .logo-container-nome {
        font-size: 2rem;
        font-weight: 600;
    }    
}

@media screen and (max-width: 700px) {
    .cabecalho {
        padding-top: 0.5em;
    }
    
    .logo-container-img {
        width: 32px;
        padding-bottom: 10px;
    }

    .logo-container-nome {
        font-size: 1rem;
        font-weight: 600;
    }

    .buttom-text {
        display: none;
    }

    .buttom-img {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .buttom {
        background: none;
        padding: 0px;
        width: 24px;
    }

    .buttom:hover {
        transition: 1s;
        
        box-shadow: 0px 0px 10px aqua;
        transform: translateY(-0px);
        border-radius: 50%;
        height: fit-content;
    }

    .activated {
        border-radius: 50%;
        background: rgb(56, 56, 56);
        height: fit-content;
    }
}

img {
    width: 100%;
}