/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*page Home*/
@import url(pages-CSS/home.css);
/*page About*/
@import url(pages-CSS/about.css);
/*page Projects*/
@import url(pages-CSS/projects.css);
/*page Contacts*/
@import url(pages-CSS/contacts.css);

[data-contexto="Home"] {
	background: fixed url(assets/background.png) center center no-repeat;
	background-size: cover;
}

[data-contexto="About"] {
	background: fixed url(assets/Transição_about\ 1.png) center center no-repeat;
	background-size: cover;
}

[data-contexto="Projects"] {
	background-color: black;
}

[data-contexto="Contacts"] {
	background: fixed url(assets/contacts/fundo-madeira.jpg) center center no-repeat;
	background-size: cover;
}

.hidden {
	display: none;
}

@media screen and (max-width: 1000px) {
	[data-contexto="Projects"] {
		background: fixed url(assets/background-project_mobile.png) center center no-repeat;
		background-size: cover;
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: fit-content;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}