@charset "UTF-08";

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

/*extrutra base*/
.About {
    width: 60%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 10px 10px 15px black;
}

.curriculo {
    width: 95%;
    margin: auto;
    border-top: 16px #2F3E46 solid;
    border: 16px #2F3E46 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 5em;
    background-color: #2F3E46;
    border-radius: 15px;
    padding: 15px 30px;
}

/*objetos*/
.curriculo-perfil {
    width: 30%;
    background-color: #2F3E46;
    border-radius: 5px 5px 15px 15px;
    padding: 5px 3em 2em 3em;
}

.curriculo-area {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    padding: 30px 0px;
}

.curriculo-nome {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    color: #2F3E46;
    font-weight: 600;
    padding: 15px 0px;
}

.curriculo-img {
    width: 80%;
}

.curriculo-sobre {
    font-size: 2rem;
    text-align: left;
    padding: 30px 0px 60px 0px;
    width: 80%;
}

.redes-item-img {
    width: 80px;
}

.redes-item-img:hover {
    transition: 0.5s;
    width: 90px;
}

@media screen and (max-width: 1000px) {
    /*extrutra base*/
    .About {
        width: 60%;
    }

    .curriculo {
        border: 13px #2F3E46 solid;
    }

    .redes {
        gap: 4em;
    }

    /*objetos*/
    .curriculo-area {
        font-size: 1.6rem;
        padding: 20px 0px;
    }

    .curriculo-nome {
        font-size: 1.6rem;
    }

    .curriculo-sobre {
        font-size: 1.5rem;
        padding: 15px 0px 30px 0px;
        width: 75%;
    }

    .redes-item-img {
        width: 64px;
    }

    .redes-item-img:hover {
        width: 68px;
    }    
}

@media screen and (max-width: 700px) {
    /*extrutra base*/
    .About {
        width: 80%;
    }

    .curriculo {
        background-size: contain;
        border: 10px #2F3E46 solid;
    }

    .redes {
        gap: 2em;
    }

    /*objetos*/
    .curriculo-area {
        font-size: 1.4rem;
        padding: 15px 0px;
    }

    .curriculo-nome {
        font-size: 1.4rem;
        width: 80%;
    }

    .curriculo-sobre {
        font-size: 0.9rem;
        padding: 15px 0px 30px 0px;
        width: 75%;
    }

    .redes-item-img {
        width: 36px;
    }

    .redes-item-img:hover {
        width: 40px;
    }   
}

img {
    width: 100%;
}