@charset "UTF-08";

@import url(API/swiper.css);

@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

/*extrutura basica da page*/
.projects-arquive {
    width: 100%;
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0px;
    margin: auto;
    text-align: center;
}

/*obejetos*/
.projects-titulo {
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 1em auto;
}

.cabecalho-img{
    width: 24px;
}

.descricao-background {
    position: sticky;
    bottom: 100%;
}

.descricao-conteudo {
    font-size: 0.8rem;
}

.descricao-link {
    color: blue;
    font-size: 0.8rem;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    /*obejetos*/
    .projects-titulo {
        font-size: 2rem;
    }

    .cabecalho-img{
        width: 14px;
    }

    .cabecalho-titulo {
        font-size: 0.6rem;
        font-weight: 600;
    }
}

img {
    width: 100%;
}